apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: {{OPERATOR_NAME}}
    app.kubernetes.io/managed-by: kustomize
  name: {{KIND_LOWER}}-viewer-role
rules:
- apiGroups:
  - {{API_GROUP}}.{{DOMAIN}}
  resources:
  - {{KIND_PLURAL}}
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - {{API_GROUP}}.{{DOMAIN}}
  resources:
  - {{KIND_PLURAL}}/status
  verbs:
  - get
